*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background: radial-gradient(red,yellow);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
}
.cabecalho{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9A0F0F;
}
.cabecalho h1, h3{
    color: white;
    display: block;
}
.area--do--jogo{
    display: flex;
    flex-direction: column;
}

.resultado-placar{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.resultado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 175px;
    width: 60%;
    margin-bottom: 15px;
    background-color: #9A0F0F;
    border-radius: 15px;
}
.placar{
    height: 122px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #484880;
    border-radius: 15px;
    position: absolute;
    top:100%;
    z-index: 1;
}

.placar-sheldon, .placar-kripke{
    font-weight: 900;
}
.controle{
    display: flex;
    z-index: 3;
}
.iniciar button{
    position: absolute;
    cursor: pointer;
    z-index: 3;
}
.reiniciar button{
    position: absolute;
    cursor: pointer;
    z-index: 3;
}

.iniciar button:hover, .reiniciar button:hover{
    background-color: #9A0F0F;
    color: aliceblue;
}

.resultado-placar button{
    border-style: none;
    border-radius: 10px;
    background-color: aliceblue;
    color: #9A0F0F;
    font-weight: 500;
    padding: 10px;
}


.jogadores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -20%;
    
}
.sheldon, .kripke{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img--sheldon{
    width: 100%;
    height: 70%;
    position: relative;
}

.img--kripke{
    width: 100%;
    height: 70%;
    position: relative;
}

.opcoes{
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #9A0F0F;
    height: 150px;
    width: 700px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.opcoes-sheldon {
    width: 100%;
    max-width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    overflow: scroll;
    position: absolute;
    top: 60%;
    right: 5%;
    
}
.opcoes-sheldon::-webkit-scrollbar{
    display:none;
}
.opcoes-kripke {
    width: 100%;
    max-width: 160px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    overflow: scroll;
    position: absolute;
    top: 60%;
    left: 5%;
    
}


.icones{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.icone{
    background-color:#695151;
    height: 100px;
    width: 100px;
    cursor: pointer;
    align-content: center;
    border-radius: 15px;
}
.icone:hover{
    background-color: #9A0F0F;
}

.resposta-kripke{
    display: none;
    position: absolute;
    top: 50%;
    right: 30%;
    background-color:#695151;
    height: 100px;
    width: 100px;
    cursor: pointer;
    align-content: center;
    border-radius: 15px;
}
.resposta-sheldon{
    display: none;
    position: absolute;
    top: 50%;
    left: 35%;
    background-color:#695151;
    height: 100px;
    width: 100px;
    cursor: pointer;
    align-content: center;
    border-radius: 15px;
}
.rodape{
    background-color: #695151;
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 768px) {
    body{
        background: radial-gradient(red,yellow);
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 840px;
        align-items: center;
        margin: 0 auto;
    }
    h2{
        font-size: 14px;
    }
    .cabecalho {
        text-align: center;
        padding: 20px;
    }

    .area--do--jogo {
        display: flex;
        flex-direction: column; /* Organiza os elementos verticalmente */
        align-items: center;
    }
    .placar{
        height: 60px;
    }
    .jogadores {
        grid-template-rows: 1fr; /* Um jogador por linha */
    }

    .sheldon, .kripke {
        position: relative; /* Define o contexto de posicionamento */
    }
    
    .opcoes-sheldon {
        width: 100%;
        max-width: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: space-around;
        overflow: scroll;
        position: absolute;
        top: 60%;
        right: 5%;
         /* Ocupa toda a largura disponível */
    }
    .resposta-sheldon{
        width: 80px; /* Reduz o tamanho dos ícones */
        height: 80px;
    }
    .resposta-kripke{
        width: 80px; /* Reduz o tamanho dos ícones */
        height: 80px;
    }
    .opcoes-kripke {
        width: 100%;
        max-width: 160px;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: space-around;
        overflow: scroll;
        position: absolute;
        top: 60%;
        left: 5%;
         /* Ocupa toda a largura disponível */
    }
    .icones{
        flex-direction: column;
        align-items: center;
        gap: 15px
    }
    .icone {
        width: 80px; /* Reduz o tamanho dos ícones */
        height: 80px;
    }
    .icone img{
        width: 100%;
    }
}
